 #loader{
        margin: 30px 0px 0px 20px;
        width: 800px;
        height: 500px;
        border: 2px solid rgb(200,200,200);
        border-radius: 7px;
        box-shadow: 2px 1px 5px rgb(222,222,222);
        display:none;
        -moz-box-shadow:2px 1px 5px rgb(222,222,222);
        -webkit-border-radius:7px;
        overflow-y:scroll;
        overflow-x: no-display;
    }
   
    #lltest{
        width: 800px;
        height: 500px;
     background: url('/pobjeda/public/img/spinner2.gif') no-repeat center center;
    
    }
    
    #greska{
        width: 800px;
        height: 500px;
     background: url('/pobjeda/public/img/nodata.jpg') no-repeat center center;
    
    }
    
    #poruka1{
        color: rgb(100,111,233);
        padding: 5px 0px 0px 10px;
        font-family:Imprint MT Shadow;
    }
    
    #search{
        
        border: 2px solid rgb(0,0,222);
        border-radius:5px;
        box-shadow:1px 0 3px rgb(0,0,200);
        opacity: 0.5;
        position: relative;
        top: 210px;
        right: 420px;
    }
    #search:hover{
        opacity:1.0;
    }
    
    p{
        color:rgb(11,11,121);
        font-family: Arial;
        font-size: 16px;
    }
    p#naslov{
       padding-top: 10px;
        padding-left: 10px;
        font-family: Cooper Black;
        font-size: 18px;
    }
    .izlaz{
        padding-left: 10px;
    }
    table{
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
        width:100%;
        border-collapse:collapse;
    }
    .zag
        {
        font-size:1.1em;
        text-align:left;
        padding-left: 10px;
        padding-bottom: 5px;
        background-color:rgb(81,91,147);
        color:#ffffff;
        }
.sadr
{
font-size:1em;
border:1px solid #98bf21;
padding:10px 7px 10px 10px;
background-color: rgb(221, 223 ,234);
border: 1px solid rgb(122, 123 ,155);
font-family: Tahoma;
color: rgb(111,111,200);
}

    #wrapper{
       -moz-box-shadow:0px 0px 3px #aaa;
        -webkit-box-shadow:0px 0px 3px #aaa;
        box-shadow:0px 0px 3px #aaa;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        border:2px solid #fff;
        background-color:#f9f9f9;
        width:600px;
        height: 330px;
        overflow:hidden;
        margin:0px 0px 0px 25px ;
   }

.steps fieldset{
    border:none;
    padding-bottom:20px;
}
.steps legend{
    text-align:left;
    background-color:#f0f0f0;
    color:#666;
    font-size:24px;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
    float:left;
    width:590px;
    padding:5px 0px 5px 10px;
    margin:10px 0px;
    border-bottom:1px solid #fff;
    border-top:1px solid #d9d9d9;
}
.steps  p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
.steps p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
.steps  input:not([type=image]),
.steps textarea,
.steps select{
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    width: 200px;
    float:left;
}
.steps input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    background-color:#FFFEEF;
}
.steps p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}

.sec{
    position:relative;
    left:440px;
    bottom:50px;
}
